body {
  background-color: #008cff;
  color: black;
}

h1 {
  color: #062a2d;
}

/* Code from https://www.w3schools.com/howto/howto_js_topnav.asp */
.topnav {
  background-color: #f8d5ad;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #062a2d;
  text-align: center;
  padding: 14px 16px;
  text-decoration: underline overline #1a008b 3px;
  font-size: 20px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

/* End code from https://www.w3schools.com/howto/howto_js_topnav.asp */

/* Contact form styles */
#Message-box {
  width: 500px;
  height: 200px;
  text-align: left;
}

.contact-input {
  width: 300px;
}

#send-button {
  /*width: 100px;
  height: 50px;*/
  float: left;
  margin: 10px;
}